/* project variables */

:root {
  /* generic document setup */
  /* typeface */
  --typeface-sans: 'Inter', sans-serif;

  /* percentage fonts */
  --percentage-font-10: 62.5%;
  --percentage-font-9: 56.25%;
  --percentage-font-8: 50%;
  --percentage-font-7: 43.75%;

  /* font size */
  --font-10: 1rem;
  --font-12: 1.2rem;
  --font-14: 1.4rem;
  --font-16: 1.6rem;
  --font-18: 1.8rem;
  --font-20: 2rem;
  --font-24: 2.4rem;
  --font-30: 3rem;
  --font-32: 3.2rem;
  --font-36: 3.6rem;
  --font-44: 4.4rem;
  --font-52: 5.2rem;
  --font-62: 6.2rem;
  --font-74: 7.4rem;
  --font-86: 8.6rem;
  --font-98: 9.8rem;

  /* font weight */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;

  /* spacing system */
  --spacing-2: 0.2rem;
  --spacing-4: 0.4rem;
  --spacing-8: 0.8rem;
  --spacing-12: 1.2rem;
  --spacing-16: 1.6rem;
  --spacing-24: 2.4rem;
  --spacing-32: 3.2rem;
  --spacing-48: 4.8rem;
  --spacing-64: 6.4rem;
  --spacing-80: 8rem;
  --spacing-96: 9.6rem;
  --spacing-128: 12.8rem;

  /* border radius */
  --border-rad-05: 0.5rem;
  --border-rad-1: 1rem;
  --border-rad-100: 10rem;
  --border-rad-round: 50%;

  /* line height */
  --line-height-1: 1;
  --line-height-11: 1.1;
  --line-height-15: 1.5;
  --line-height-17: 1.7;

  /* letter spacing */
  --letter-space-n05: -0.5px;
  --letter-space-n1: -1px;
  --letter-space-p05: 0.5px;
  --letter-space-p1: 1px;

  /* color palettes */
  /* main colors */
  --clr-dt-main-shade: hsl(215, 28%, 3%);
  --clr-dt-main: hsl(215, 28%, 17%);
  --clr-dt-main-tint: hsl(215, 30%, 22%);

  /* text colors */
  --clr-dt-grey-offset: hsl(251, 100%, 88%);
  --clr-dt-grey: hsl(0, 0%, 100%);

  /* accent colors */
  --clr-dt-accent-shade: hsl(252, 100%, 58%);
  --clr-dt-accent: hsl(252, 100%, 63%);
  --clr-dt-accent-tint: hsl(252, 100%, 73%);

  --clr-dt-accent-yellow: hsl(50, 100%, 58%);

  /* button */
  --clr-dt-btn-3d-white: linear-gradient(140deg, hsl(0, 0%, 100%), hsl(0, 0%, 70%));
  --clr-dt-btn-3d-yellow: linear-gradient(140deg, hsl(50, 100%, 58%), hsl(50, 100%, 38%));
  --clr-dt-btn-shadow: hsl(215, 30%, 22%);
}

html {
  font-size: var(--percentage-font-10);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem var(--clr-dt-main-tint) !important;
}

::selection {
  color: var(--clr-dt-main);
  background-color: var(--clr-dt-grey);
}

/* width */
::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-dt-main-tint);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: var(--border-rad-100);
  background: var(--clr-dt-accent-tint);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-dt-accent-shade);
}

body {
  max-width: 55rem;
  font-family: var(--typeface-sans);
  font-size: var(--font-16);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-space-n05);
  color: var(--clr-dt-grey);
  background-color: var(--clr-dt-main);
}

/* repeatable styles */

.heading-quaternary {
  font-size: 2.8rem;
  font-weight: var(--font-weight-800);
  line-height: 3.8rem;
  letter-spacing: -3%;
  margin-bottom: 3rem;
}

/* helper classes */
.center-text {
  text-align: center;
}

.margin-right-sm {
  margin-right: var(--spacing-12);
}

.margin-bottom-sm {
  margin-bottom: var(--spacing-12);
}

/* sections */
/* section-unit-conversion */
.unit-conversion {}

.project-container {
  width: 100%;
  min-width: 55rem;
  max-width: 55rem;
  min-height: 72.9rem;
  background-color: var(--clr-dt-main);
  box-shadow: 0 0 0.4rem var(--clr-dt-main-shade);
}

.project-input-box {
  height: 28.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dt-accent);
}

/* to remove the scrollbar next to the number input el */
/* Chrome, Safari, Edge, Opera */
#input-el::-webkit-outer-spin-button,
#input-el::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#input-el[type=number] {
  -moz-appearance: textfield;
}

#input-el {
  text-align: center;
  border: 2px solid var(--clr-dt-accent-tint);
  border-radius: var(--border-rad-05);
  width: 100%;
  max-width: 11.7rem;
  height: 8.3rem;
  font-family: inherit;
  font-size: 5.8rem;
  font-weight: var(--font-weight-800);
  line-height: 2.4rem;
  color: var(--clr-dt-grey);
  background: none;
  margin-bottom: 2.5rem;
}

#input-el::placeholder {
  color: var(--clr-dt-accent-tint);
}

#convert-btn {
  border: none;
  border-radius: var(--border-rad-05);
  width: 100%;
  max-width: 11.7rem;
  height: 4.2rem;
  font-size: var(--font-16);
  font-weight: var(--font-weight-500);
  line-height: 2.4rem;
  cursor: pointer;
}

.project-results-box {
  padding: 3.6rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2.3rem;
}

.result-box {
  border-radius: var(--border-rad-05);
  width: 100%;
  height: 10.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .9rem;
  background-color: var(--clr-dt-main-tint);
}

.result-heading {
  font-size: var(--font-20);
  font-weight: var(--font-weight-600);
  line-height: 2rem;
  color: var(--clr-dt-grey-offset);
}

.result-text {
  font-size: var(--font-14);
  font-weight: var(--font-weight-400);
  line-height: 2rem;
  color: var(--clr-dt-grey);
}

.footer-text-box {
  padding: var(--spacing-12) 0;
}
.done-by {
  font-size: var(--font-12);
  line-height: var(--line-height-15);
  letter-spacing: var(--letter-space-n05);
}

.done-by--link,
.done-by--link:link,
.done-by--link:visited {
  display: inline-block;
  font-size: var(--font-14);
  font-weight: var(--font-weight-500);
  text-decoration: none;
  color: var(--clr-dt-grey);
}

.done-by--link:hover,
.done-by--link:active {
  border-bottom: 1px solid var(--clr-dt-grey);
}